<div id="<%= dom_id user %>">
  <p class="text-red">
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Carimbos:</strong>
    <%= user.stamps.count %>
  </p>

</div>
